@import url('https://fonts.googleapis.com/css?family=Roboto:900i|Slabo+27px');

.boxy a {
  color: black;
}

.boxy .content {
  /* center */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: 'Slabo 27px', serif;
}

.boxy .name {
  width: 100%;

  font-family: 'Futura', 'Roboto', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 100pt;
  line-height: 1;

  color: white;
  background-color: red;

  padding-left: 4%;
  padding-top: 1%;
  padding-bottom: 5%;
}

.boxy .info {
  float: left;
  font-size: 20pt;
  padding: 20px;
}

.boxy .links {
  float: right;
  font-size: 30pt;
  padding: 20px;
}

.boxy .links a {
  margin-left: 10px;
  transition: 0.3s;
}

.boxy .links a:hover {
  color: red;
}
